# 1 - Crie um programa que mostre ‘olá,mundo!’ na tela.

# 2 - Faça um programa que leia o nome de uma pessoa e mostre uma mensagem de boas vindas

# 3 - Crie um programa que leia dois números e faça a soma entre eles.

# 4 - Peça um número inteiro para o usuário e mostre o dobro, triplo e a raiz quadrada deste número

# 5 - Entre com dois números e mostre a média entre eles.

# 6 - Entre com o valor em metros e mostre este valor em Km, Hm, dam, m, dc, cm, mm.

## EX: 0,001 km = 0,0001 ha = 0,1 dam = 1 m 10 dc = 100 cm =  1000 mm

# 7 - Entre com um número e mostre sua tabuada.

# 8 - Assumindo que o S1,00 dólar equivale a RS3,50, faça um programa que converta reais em dólares. 
## Ex : RS 35,00 =  S10,00

# 9 - Faça um programa que mostre a área de uma parede pedindo sua altura e sua largura.

# 10 - Utilizando o programa anterior, apos calcular a área da parede mostre quantas latas de tinta será necessário para pintar esta parede, sabendo que uma lata de tinta pinta 2m² de parede

# 11 - Faça um exercício que peça o valor de um produto e de um desconto de 10% e mostre o novo valor.
## Ex: RS 10,00   => RS 9,00.

# 12 - Entre com o salário de um funcionário e mostre o novo salário com um acréscimo de 15%.

# 13 - Entre com a temperatura em °C (graus Celsius) e mostre ela em °F (graus Fahrenheit.
## Dica: procure como transformar temperatura Celsius em fahrenheit

# 14 - Escreva um programa que pergunte a quantidade de quilômetros rodados por um carro alugado e a quantidade de dias que ele foi alugado. Calcule o preço a ser pago sabendo que o carro custa R$ 60,00 por dia e R$ 0,15 por Km rodado.
## Ex 5 dias alugados e percorreu 1500km => R$525

# 15 - Mostre a parte inteira de um número

# 16 - Calcule a hipotenusa de um triângulo retângulo.
## Dica: procure como calcular a hipotenusa de um triângulo retângulo

# 17 - Calcule o Seno, cosseno e tangente de um ângulo.
## Dica: NA PRIMEIRA LINHA IMPORTE A BIBLIOTECA math
## import math

# 18 - Entre com 4 pessoas e sorteie uma delas.
## Dica utilize lista para armazenar as pessoas
## Ex: alunos = [a1,a2,a3]
## Procure como sortear um valor em uma lista com python

# 19 - Entre com 4 pessoas e ordene eles de forma aleatória.

# 20 - Entre com um número e mostre quantas unidades, dezenas, centenas e unidade de milhar
## Ex: 
## 3652
### -> unidades: 2
### ->		dezenas: 5
### ->		centenas:6
### ->   milhar: 3
## 35
### -> 	unidades: 5
### -> 	dezenas: 3
### -> 	centenas : 0
### -> 	milhar: 0

# 21 - Faça um programa que leia 3 números e mostre o menor e o maior deles.
## ex:
## ENTRADA
> ## 2 ,25 e 10
## SAÍDA
> ## O menor número é 2 e o maior é 25

# 22 Desenvolva um programa que peça o salário de um funcionário e calcule o valor do novo salários, para quem recebe mais que 1.250,00 tera a um aumento de 10% e os demais um aumento de 15%.
## Ex:
## ENTRADA
> ## 1.000,00
## SAÍDA
> ## 1.150,00
## Ex 2:
## ENTRADA
> ## 10.000,00
## SAÍDA
> ## 11.000,00

# 23 Faça um programa que leia três segmentos de reta e diga se forma um triângulo.
## * DICA: Procurar como saber se três retas formam um triângulo
## Ex
## ENTRADA
> ## 3, 3 ,3
## SAÍDA
> ## Podem formar um triângulo
## Ex 2
## ENTRADA
> ## 2, 4, 6
## SAÍDA
> ## Não podem formar um triângulo